<br>
<div class="text-center">
  <br>
  <%= link_to 'Contact', contact_path, class: "footer-link" %> -
  <%= link_to 'Partners', partners_path, class: "footer-link" %> -
  <%= link_to 'Privacy', privacy_path, class: "footer-link" %>
  <br>
  © Atlas Pizza, Portland, Oregon
  <br><br>
</div>
<br>