<div class="row">
  <div class="col-lg-1 col-xl-2"></div>
  <div class="col-xs-12 col-lg-10 col-xl-8">
    <br>
    <p>We offer 25% off all orders of 5 pies or more, with 24 hours notice. Fill out the form below, and we’ll contact you immediately!</p>

    <p class="form-title">CATERING ORDER FORM</p>
    <%# render 'forms/catering_form' %>
  </div>
  <div class="col-lg-1 col-xl-2"></div>
</div>