<div class="row">
  <div class="col-md-2"></div>
  <div class="col-xs-12 col-md-8">
    <br>
    <p>
      Attention Atlas Pizza Friends!
      <br><br>
      It is with great pride that we announce the reopening of ALL our locations! Now open from 4pm to 10pm every day!
      <br><br>
      We will be serving our full menu for take out only! Whole pies at all locations, slices at Division and Foster,
      and everything else from our amazing knots, to our stuffed knots, to those Ceasar salads you’ve all been craving!
      <br><br>
      We are following safe practices to ensure our staffs safety and our customers safety as well. This includes social distancing, proper hand washing and sanitizing, and cooking our pizzas in 550 degree ovens. We take our own, and your safety as our number one priority.
      <br><br>
      Please call ahead to place an order. We are limited in our capabilities due to the amount of staff we can safely have on. This means we will be on a first call, first serve basis. Our online ordering system is available, but we prefer you call if possible. We also deliver through third party systems like Grubhub, Caviar and Postmates. While we would love for you to get Atlas Pizza in any way, please note that ordering directly through us is our preferred choice to provide for you, as that means all your money stays right here in our community.
      <br><br>
      Hang in there Portland!!! It’s going to take the entire community to get through this. We hope you are all safe and healthy and we can’t wait to see you!
      <br><br>
      Best wishes,
      <br>
      Johnny Ricci, Eli Johnson
      <br>
      Owners Atlas Pizza
    </p>
  </div>
  <div class="col-md-2"></div>
</div>