<div class="row menu-margins">
  <div class="col-xs-12 col-lg-4 paddingless">
    <br>
    <%= image_tag image_path("menu/1"), class: "img-fluid menu-img" %>
  </div>
  <div class="col-xs-12 col-lg-4 paddingless">
    <br>
    <%= image_tag image_path("menu/2"), class: "img-fluid menu-img" %>
  </div>
  <div class="col-xs-12 col-lg-4 paddingless">
    <br>
    <%= image_tag image_path("menu/3"), class: "img-fluid menu-img" %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    EACH OF OUR LOCATIONS OFFERS MULTIPLE DRINK SELECTIONS, INCLUDING BEER, WINE, AND SOFT DRINKS.
    PLEASE CALL ONE OF OUR LOCATIONS FOR DETAILS. ASK ABOUT BEER AND WINE DELIVERY!
    <br><br>
    <div class="text-center">
      <a class="square-btn square-btn-left">ORDER</a>
      <a class="square-btn square-btn-right">CALL</a>
    </div>
    <br>
    <%= image_tag image_path("menu/menu-pizza"), class: "img-responsive menu-pizza-img" %>
  </div>
</div>