<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-xs-12 col-lg-8">
    <br>
    <div class="text-center">
      <div class="page-title">
        PARTNERSHIPS
      </div>
      <br>
      Atlas Pizza believes in a strong and diverse community. We hope to help others, and in doing so create a better place for everyone to share. Here are some of the many folks we have helped raise funds for in the past.<br>
      <br>
      Cleveland High School<br>
      <br>
      Pioneer School<br>
      <br>
      VOZ Workers Rights Education Project<br>
      <br>
      4th Dimension Recovery Center<br>
      <br>
      Recovery Mentor Program<br>
      <br>
      ACLU<br>
      <br>
      Planned Parenthood<br>
      <br>
      Bradley Angel<br>
      <br>
      Immigrant and Refugee Community Organization<br>
      <br>
      PEAR<br>
      <br>
      NARAL Pro Choice<br>
      <br>
      Oregon Unite<br>
      <br>
      There have been many more and will be many more to come!<br>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>